boto3==1.10.45
botocore==1.13.45
cached-property==1.5.1
Django==2.2.9
django-admin-honeypot==1.1.0
django-cors-headers==2.4.0
django-storages==1.8
django-url-filter==0.3.14
django-versatileimagefield==2.0
djangorestframework==3.11.0
docutils==0.15.2
enum-compat==0.0.3
hashids==1.2.0
jmespath==0.9.4
Pillow==6.2.1
psycopg2==2.8.4
python-dateutil==2.8.1
python-decouple==3.3
python-magic==0.4.15
pytz==2018.9
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
whitenoise==5.0.1
